<% @posts.each do |post| %>

 <div class="card p-3 mb-3">
 <div class="row">
 <div class="col-1 text-center">
 <div class="vote-actions" data-id="<%=post.id %>">
 <div class="fa fa-arrow-up upvote"></div>
 <span class="text-center"><%=post.score %></span>
 <div class="fa fa-arrow-down downvote"></div>
 </div>
  </div>
 <div class="col-11">

 <div class="card p-3">

 <h4 class="mb-3"><%= link_to post.title, community_post_path(post.community_id, post) %></h4>
 <small><%= link_to post.community.name, community_path(post.community) %> 
 Posted by <%= link_to post.account.full_name, profile_path(post.account.username) %> 
 <%= time_ago_in_words post.created_at %> ago. </small>
 
 <p><%= truncate post.body, length: 150 %></p>
 </div>

  </div>
   </div>

<% end %>