<%= link_to "Create New Post", new_community_post_path(@community), class: "btn btn-primary float-end" %>
<%= @community.name %>

<% @posts.each do |post| %>
 <h4><%= link_to post.title, community_post_path(@community, post) %></h4>
 <p><%= truncate post.body, length: 150 %></p>
<% end %>

 <small>
<%= simple_format @community.rules %>
</small>