<%= link_to "Create New Post", new_community_post_path(@community), class: "btn btn-primary float-end" %>


<h3> <%= @community.name %></h3>

<div class="row">
 <div class="col-8 sm-8">
<%= render partial: "posts/list", locals: { posts: @posts} %>
</div>
<div class="col-sm-4">
<p><%= pluralize @subscriber_count, "member" %></p>
 <small>
<%= simple_format @community.rules %>
</small>
</div>
</div>