<div class="container">
 <div class="row">
  <div class="col-12 pb-3 pt-3">
   <div class="float-end">
   <% if account_signed_in? %>

   <div class="dropdown">
  <a class="btn btn-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  <%= current_account.full_name %>
  </a>

  <ul class="dropdown-menu">
  <%= button_to "Profile", "", class: "dropdown-item" %>
          <%= link_to "Settings", edit_account_registration_path, class: "dropdown-item" %>
           <%= button_to "Sign Out", destroy_account_session_path, :method => :delete , class: "dropdown-item" %>
  </ul>
</div>


  <% else %>
    <%= link_to "Log In", new_account_session_path, class: "btn btn-outline-primary" %>
    <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>
  <% end %>
    </div>
    <p class="h3"><%= link_to "Reddit", root_path %></p>
    </div>
  </div>
</div>
